.mainmenubtn {
  background-color: #f1f1f1;
  color: #4a2933;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 20px;
  margin-top: 70px;
  border-radius: 10px;
  width: 120px;
}

.dropdown {
  position: absolute;
  display: inline-block;
  right: 77%;
  width: 120px;
}
.menu {
  width: 50%;
}

.dropdown-child {
  display: none;
  background-color: #f1f1f1;
  max-width: 300px;
}
.dropdown-child a {
  text-align: center;
  color: #4a2933;
  padding: 20px;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-child {
  display: block;
}
.dropdown-child a {
  font-style: bold;
}
